#navContainer
{
    clear:both;
    /*width:330px;*/
	margin:15px;
	/*background:url(../images/semi_trans.png) repeat;*/	
}
a:focus,a:active{outline:0}
#nav *
{
	position:relative;/* peek-a-boo bug fix for IE6 */
	min-width:0;/* peek-a-boo bug fix for IE7 */
	/*font-size:15px;*/
}

#nav li
{
	cursor:pointer;
    list-style:none;
	padding:3px 0 3px 20px;
	margin:0;
	text-align: left;
}
#nav a
{
    text-decoration:none;
	color:green;
	font-weight:bold; /*#fff;*/
	padding-left: 20px;
	float:right; /*comment this if need to roll back position*/
	position:absolute; /*comment this if need to roll back position*/
	right:0; /*comment this if need to roll back position*/
}

#nav ul
{
    display:none;
    margin:0;
    padding:0;
	zoom:1;/*fixes ie6 bug (list will disappear after slideDown)*/
}
#nav img { padding-right:5px;}
#nav ul li
{
	/*padding-left:0*/
}
#nav ul li a
{
    padding-left: 20px;
	font-size:13px;
}
.expand a
{
    font-size:13px;
    padding: 5px 10px;
}

/*popitup*/
#popitmenu{
position: absolute;
background-color: white;
border:1px solid #999;
font: normal 12px Verdana;
line-height: 18px;
z-index: 100;
visibility: hidden;
border-radius: 7px;
padding:7px;
}

#popitmenu a{
text-decoration: none;
padding-left: 6px;
color: black;
display: block;
}

#popitmenu a:hover{ /*hover background color*/
background-color: #CCFF9D;
}